/* * {
 box-sizing: border-box; 
} */

.has-suggestions:focus {
  background-color: rgb(232, 66, 6);

}


body {
  width: 100%;
  height: 100vh;
  background: linear-gradient(to right, rgb(255, 191, 0), rgb(242, 81, 23))
}

input {
 background-color: rgba(255, 166, 0, 0.695);
 
}
.boldSearch{
  font-weight: bold;
}
.search-container {
 position: relative;
 top: 20%;
 left: 40%;
 display:block;


}
.search-container input,
.search-container .suggestions {
  width: 200px;
  
}
.search-container input {
  /* margin: 20% 45%; */
  /* padding: 0px; */
}
.search-container .suggestions {

 padding: 0px;
 width: 200px;
 
}

ul {
  list-style-type: none;
  padding: 0px;
  margin: 0px;
  width: 207px;
}
ul.has-suggestions {
 
 
  
  
}
ul li {
  border: 1px solid /* TODO */
}
ul li:hover {
  background-color: rgb(232, 66, 6);
}

ul:hover {

  cursor:grab;
  font-weight: bold; 
}

//ISSUES THE BOXES DO NOT LINE UP AS A LIST. ALSO WHEN I CHANGE MY WINDOW SO DOES THE POSITION. 
WHY DO I HAVE A 40PX PADDING ON THE LEFT? I CANT GET RID OF IT? 